*{
	margin: 0px;
	padding: 0px;
}
.clear {
	clear: both;
}
#header {
	width: 1000px;
	height: 160px;
	margin: 0 auto;
}
#header .logo {
	float:left;
	margin-left: 21px;
	margin-top: 42px;
}
.seacher {
	float: right;
	margin-top: 42px;
	margin-right: 21px;
}

.nav ul li{
	list-style: none;
	float: left;
	border-right: 1px solid #bbb;
	width: 124px;
	height: 59px;
	background-color: #2e2e2e;
	color: #ffffff;
	text-align: center;
	line-height: 59px;
	margin-top: 26px;
}
.nav ul .no-line{
	border: none;
}
#banner {
	width: 1000px;
	height: 463px;
	margin: 0 auto;
}
#container{
	width: 1000px;
	height: 622px;
	margin:  0px auto;
}
#container .top{
	height: 240px;
}
 #container .top .c-t-left {
	width: 478px;
	height: 240px;
	float: left;
}
 #container .top .c-t-left h3{
	margin-left: 22px;
	margin-top: 37px;
}
 #container .top .c-t-left ul{
	margin-left: 22px;
	margin-top: 29px;
}

 #container .top .c-t-center{
 	width: 254px;
	height: 240px;
	float: left;
	background-color: #f1f1f1;
 }
#container .c-t-center h3{
	margin-top: 37px;
	margin-left: 22px;
}
#container .c-t-center p{
	margin-left: 22px;
	margin-top: 13px;
}
#container .top .c-t-right{
	width: 260px;
	height: 240px;
	float: left;
}

#container .c-t-right h3{
	margin-top: 37px;
	margin-left: 18px;
}
#container .c-t-right p{
	margin-top: 12px;
	margin-left: 22px;
}
#container .bottom {
	width: 1000px;
	height: 380px; 
}
#container .bottom .b-piclist {
	width: 1000px;
	height: 240px;
	margin-top: 25px;
}
#container .bottom h3{
	margin-top: 25px;
	margin-left: 22px;
}#container .bottom .b-piclist .b-1{
	width: 210px;
	height: 240px;
	float: left;
	margin-right: 35px;
	margin-left: 20px;
}
#container .bottom .b-piclist .b-2{
	width: 210px;
	height: 240px;
	float: left;
	margin-right: 35px;
}
#container .bottom .b-piclist .b-3{
	width: 210px;
	height: 240px;
	float: left;
	margin-right: 35px;
}
#container .bottom .b-piclist .b-4{
	width: 210px;
	height: 240px;
	float: left;

}
#container .bottom .b-piclist .b-1 p{
	margin-top: 18px;
}
#container .bottom .b-piclist .b-2 p{
	margin-top: 18px;
}
#container .bottom .b-piclist .b-3 p{
	margin-top: 18px;
}
#container .bottom .b-piclist .b-4 p{
	margin-top: 18px;
}
#footer {
	height: 400px;
	width: 1000px;
	margin: 0px auto;
}
#footer .f-t-left{
	width: 490px;
	height: 300px;
	background-color: #e5e5e5;
	float: left;
}

#footer .f-top .f-t-left h3{
	border-bottom: 1px solid #888;
	width: 400px;
	margin-top: 30px;
	margin-left: 27px;
}
	
#footer .f-top .f-t-left .f-t-ullist .ul1{
	list-style: none;
	margin-top: 50px;
	margin-left: 22px;
	float: left;
	height: 200px;
}
#footer .f-top .f-t-left .f-t-ullist .ul2{
	list-style: none;
	margin-top: 50px;
	margin-left: 60px;
	float: left;
}
#footer .f-top .f-t-left .f-t-ullist .ul3{
	list-style: none;
	margin-top: 50px;
	margin-left: 70px;
	float: left;
}
#footer .f-t-center{
	width: 250px;
	height: 300px;
	float: left;
	background-color: #e5e5e5;
}
#footer .f-t-center h3{
	border-bottom: 1px solid #888;
	width: 200px;
	float: left;
	margin-left: 22px;
	margin-top: 30px;
	margin-bottom: 30px;
}
	
#footer .f-t-center .f-t-c-ullist .ul{
	list-style: none;
	margin-top: 20px;
	margin-left: 22px;
	float: left;
}
#footer .f-t-right{
	width: 254px;
	height: 300px;
	float: left;
	background-color: #e5e5e5;
}
#footer .f-t-right h3{
	border-bottom: 1px solid #888;
	width: 200px;
	float: left;
	margin-left: 22px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#f-bottom{
	width: 1000px;
	height: 100px;
	margin-left: 500px;
}
#footer .f-bottom h6{
	float: left;
	margin-left: 22px;
	margin-top: 40px;
	border-right: 1px solid #8e8e8e;
}
#footer .f-bottom img{
	margin-left: 70px;
	margin-top: 35px;
}